
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #ffffff;
  }
.main-login{
    justify-content: center;
    align-items: center;
  }

.radio-title{
    width: 70vw;
    margin: 15vh auto;
    padding-bottom: 10px;
}
.radio-title-style{
    text-align: center;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
    font-family: 'Press Start 2P',cursive;
    font-weight: 400;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
}
.radio-title-style:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
.radio-title-style:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}
 /*Keyframes*/ 
@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
@keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}
  
 @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}

.sign-form{
    width: 420px;
    height: 500px;
    padding: 0px 35px 35px 35px;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(47.24deg, rgba(238, 9, 121, 0.69) 0%, rgba(255, 106, 0, 0.75) 78.86%); */
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-shadow: none;
  }
.signUp-form, .signIn-form {
    display: none;
  }
.sign-show {
    display: flex;
    flex-direction: column;
  }
.sign{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
.sign-up, .sign-in{
    color: rgb(197, 193, 193);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 30px;
  }
.active{
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  color: rgba(255, 255, 255, 0.75);
}
.signUp-input , .signIn-input{
  border-bottom:1px dashed #989895;
  border-right:none;
  border-left:none;
  border-top:none;
  color:#fff;
  background:none;
  outline:none;
  position:relative;
  font:24px "SeanRegular", Courier New, Courier New, Courier6, monospace;
  letter-spacing:1px;
  margin-bottom: 30px;
    /* margin-bottom: 30px;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.95);
    padding: 0 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border: none; */
  }
.signUp-input:focus{
  border-bottom:1px dashed #000;
  -webkit-transition:border 0.3s ease-in;
  -moz-transition:border 0.3s ease-in;
  -o-transition:border 0.3s ease-in;
  transition:border 0.3s ease-in;
}
.signIn-input:focus{
  border-bottom:1px dashed #000;
  -webkit-transition:border 0.3s ease-in;
  -moz-transition:border 0.3s ease-in;
  -o-transition:border 0.3s ease-in;
  transition:border 0.3s ease-in;
}
.sign-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    height: 50px;
    width: 200px;
    margin-top: -5px;
    border-style: solid;
    border-width: 4px;
    border-left-color: white;
    border-top-color: white;
    border-bottom-color: dimgrey;
    border-right-color: dimgrey;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
  }
.sign-button-content{
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdtop-20{
    padding-top: 20px;
}
.sign-button:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
  }
.sign-button:active{
    background-color: darkgrey;
    color: black;
    border-left-color: dimgrey;
    border-top-color: dimgrey;
    border-bottom-color: white;
    border-right-color: white;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  }
/* .signUp-input:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 0 15px;
  } */
  
  
  /*# sourceMappingURL=main.css.map */